<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
    <img
      class="mx-auto mb-8"
      src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png"
      alt="Gmail Logo"
    />
    <h2 class="text-2xl font-semibold text-gray-700 text-center mb-6">
      Iniciar sesión
    </h2>

    <!-- Campo de correo -->
    <div class="mb-4">
      <label for="email" class="block text-gray-600 font-medium mb-2"
        >Correo electrónico</label
      >
      <input
        id="email"
        type="email"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Correo"
        [(ngModel)]="email"
      />
    </div>

    <!-- Campo de contraseña -->
    <div class="mb-6">
      <label for="password" class="block text-gray-600 font-medium mb-2"
        >Contraseña</label
      >
      <input
        id="password"
        type="password"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Contraseña"
        [(ngModel)]="password"
      />
    </div>

    <!-- Botón de inicio de sesión -->
    <div class="mb-4">
      <button
        (click)="onLogin()"
        class="w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700 transition-colors"
      >
        Iniciar sesión
      </button>
    </div>

    <!-- Enlace para recuperar la cuenta -->
    <div class="text-center">
      <a href="#" class="text-blue-500 hover:underline text-sm"
        >¿Olvidaste tu contraseña?</a
      >
    </div>
  </div>
</div>
